<html>
   <head>
      <title>Login</title>
   </head>
   <body>
   <h1>Restaurant</h1>
   User:<!--<%= username %>--<br>
   Showing <!--<%=restaurant.length %> (criteria: {})--><br>
   <button type="submit">Create New Restaurant</button>
   <ul>
   <!--<% if (restaurant.length !=0) { %>
     <% for (var i in restaurants) {%>
        <li><a href="/display?_id= <%= restaurant[i]._id %> "> <%= restaurant[i].name %> </a></li>
     <% } %>
   <% } %>-->
  </ul>    	  
   </body>
</html>