<html>
   <head>
      <% include inc/head %>
      <title>CREATE - RESTAURANT</title>
   </head>
   <body>
      <% include inc/navbar_create%>
      <div class="container site-container">



<form action="/create" method="post">
  Name:<input name="name" type="text" required><br>
  Borough:<input name="borough" type="text" required><br>
  Cuisine:<input name="cuisine" type="text"><br>
  Street:<input name="street" type="text" ><br>
  Building:<input name="building" type="text"><br>
  Zipcode:<input name="zipcode" type="text"><br>
  GPS Coordinates (lon.): <input name="lon" type="text"><br>
  GPS Coordinates (lat.): <input name="lat" type="text"><br>
  Photo:<input name="image" type="file"><br>
  <button type="submit"> Create </button><br>
</form>
</div>
</body>
</html>
