<html>
<head>
<% include inc/head %>
      <title>Login</title>
   </head>
   <body>
      <% include inc/navbar_rate %>
	     <div class="container site-container">
<form acton="/rate?_id=<%= restaurant[i]._id %>" method="post">
  <input type="hidden" name="_id"  value= "<%= restaurant[i]._id % >">
  Score (1-10):<input  type="number" name="score" min=1 max=10>
  <button type="submit">Rate</button>
</form>
</div>
</body>
</html>

