<html>
<head>
    <% include inc/head %>
      <title>Remove</title>
   </head>
   <body>
      <% include inc/navbar_login %>
	       <div class="container site-container">
                     <%= messsge %>
                     <a href="/read"><button>Home</button></a>      

   </div>
   </body>
</html>