<html>
<head>
    <% include inc/head %>
      <title><%=action%></title>
   </head>
   <body>
     
	       <div class="container site-container">
                     <%= message %>
                     <a href="/read"><button>Home</button></a>      

   </div>
   </body>
</html>