<html>
   <head>
      <% include inc/head %>
      <title>DETAIL - RESTAURANT</title>
   </head>
   <body class="activities-page detail-page">
      <% include inc/navbar_auth %>
      <div class="container site-container">
         <div class="row">
            <div class="thumbnail">
			 <h2><a href="#">Starbucks</a>
               <!-- photo -->
              
               <!--
                  <img class="img-responsive" src="http://placehold.it/800x300" alt="">
                  -->
               <div class="caption-full">
                 
                  </h2>
                  <div class="sub-header">Borough:</div>
                  <p></p>
                  <div class="sub-header">Cuisine</div>
                  <p></p>
                  <div class="sub-header">Building:</div>
						   <p>
                      </p>
                  <div class="sub-header">Zipcode:</div>
                  <p></p>
                  <div class="sub-header">GPS:</div>
                  <p></p>
                  <div class="sub-header">Rating:</div>
                  <p></p>
                  <div class="sub-header">Created by:</div>
                  <p></p>
                  
                  
                  <a href="/activities/detail" >Google map</a><br>
				  
                  <a href="/rate"  class="btn btn-primary btn-md rate-restaurant-btn">Rate</a> 
                  
                  <a href="#" data-id="" class="btn btn-primary btn-md edit-restaurant-btn">Edit</a>
                  
                  
                     
                  <a href="#" data-id="" class="btn btn-primary btn-md delete-restaurant-btn">Delete</a>
				  <a href="#" data-id="" class="btn btn-primary btn-md delete-restaurant-btn">Go back</a>
                
                  
               </div>
            </div>
			
			
            
      <!-- /.container -->
     
      <div class="col-sm-offset-2 col-sm-5 alert alert-danger notifiying" role="alert" >
         You are not the owner!
      </div>
     
   </body>
</html>